<table>
    <thead>
        <tr>
            <th>N.</th>
            <th>Title</th>
            <th>Description</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        {{#each tasks}}
        <tr>
            <td>{{@index}}</td>
            <td>{{title}}</td>
            <td> {{description}} </td>
            <td>
                {{#if done}}
                    <button><a href="/toggleDone/{{_id}}">Undone</a></button>
                {{else}}
                    <button><a href="/toggleDone/{{_id}}">Done</a></button>
                {{/if}}

                <button><a href="/delete/{{_id}}">Delete</a></button>
                <button><a href="/edit/{{_id}}">Edit</a></button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>